:root{
  --main-color: #292831;
  --font-color: #FFFFFF;
  --screen-color: #849b8a;
  --ctrl-button-color: #cccccc;
  --top-button-color: #000000;
  --btm-button-color: #adadad;
  --clear-button-color: #ff8181;
}

/* https://scrapbook.hackclub.com/themes/default.css */

html, body{
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
}

#calculator{
  width: 80%;
  background-color: var(--main-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: auto; 
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 2vw/4vh;
}

table{
  border-spacing: 2vw;
}

.results{
  background-color: var(--screen-color);
  border-radius: 3vw/3vh;
  height: 42vh;
  text-align: right;
  margin: 2vh;
}

#top td{
  color: var(--font-color);
  text-align: center;
  width: 10vw;
  height: 5vh;
  border-radius: 2vw/2vh;
  padding: 1vw;
}

#bottom td{
  color: var(--font-color);
  text-align: center;
  width: 15vw;
  height: 10vh;
  border-radius: 3px 3px 12px 12px;
}

.controlButtons td{
  background-color: var(--ctrl-button-color);
}

.topButtons td{
  background-color: var(--top-button-color); 
}

.btmButtons td{
  background-color: var(--btm-button-color);
}

#delete, #allclear{
  background-color: var(--clear-button-color);
}